<div ng-cloak>
  <div  >
    <md-toolbar md-scroll-shrink ng-if="true" >
      <div class="md-toolbar-tools" layout="row" layout-align="center">
        <h3 >
          <span>Bearer Authentication</span>
        </h3>
      </div>
    </md-toolbar> 
  </div> 
  <div layout="row" layout-align="center center" layout-margin>
     <md-card flex flex-sm="100" flex-gt-sm="60" flex-gt-md="30" >
        <md-card-actions layout="column" layout-align="start" >
          <md-button class=" md-hue-1" ng-click="gotoLogin()">Login</md-button>  
          <md-button class=" md-hue-1" ng-click="gotoSignup()">Signup</md-button>
        </md-card-actions>
      </md-card> 
  </div>
</div>     