<div ng-cloak>
    <md-toolbar md-scroll-shrink ng-if="true" >
      <div class="md-toolbar-tools" layout="row" layout-align="center">
        <h3 >
          <span>Bearer Authentication</span>
        </h3>
      </div>
    </md-toolbar> 
    <div layout="row" layout-sm="column" layout-align="center center">
        <md-card style="border-radius: 1%" flex flex-sm="100" flex-gt-sm="60" flex-gt-md="30">
        <md-card-content>           
                <form name="loginForm" ng-submit="login()" novalidate>
                     <md-input-container class="md-block" >
                         <label>Email</label>
                         <input required type="email" name="email" ng-model="user.userEmail" ng-pattern="/^.+@.+\..+$/" />
                         <div ng-messages="loginForm.email.$error" role="alert" ng-show="loginForm.email.$touched || loginForm.email.$dirty">
                             <div ng-message="required">Email is required.</div>
                             <div ng-message="pattern">
                                 Your email must look like an e-mail address.
                             </div>
                         </div>
                     </md-input-container>
                     <md-input-container class="md-block" >
                         <label>Password</label>
                         <input minlength="6" required name="password" ng-model="user.userPassword" type="password">
                         <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                             <div ng-message="required">Password is required.</div>
                             <div ng-message="minlength">Password must be minimun 6 characters long.</div>
                         </div>
                     </md-input-container>
                     <div class="md-block" >
                         <md-button class="md-raised md-primary" type="submit">Login in</md-button>
                     </div>
                 </form>           
            </md-card-content>
      </md-card>
    </div>
    <div layout="column" layout-align="center center">
        <a ui-sref="signup">Create Account</a>
    </div> 
</div>